<div class="container">
  <div class="row">
    <div class="login-errors"></div>
    <form class="login-form form-horizontal">
      <div class="control-group">
        <label class="control-label" for="nickname">Username</label>
        <div class="controls">
          <input type="text" name="nickname" placeholder="Username">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="password">Password</label>
        <div class="controls">
          <input type="password" name="password" placeholder="Password">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>

